/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:f2e85d31a042632256171de104cbace5:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(man8_gif.png);}

.男人8_0000_图层-4 {width:226px; height:304px; background-position: -686px -2px}
.男人8_0001_图层-3 {width:226px; height:304px; background-position: -458px -2px}
.男人8_0002_图层-2 {width:226px; height:304px; background-position: -230px -2px}
.男人8_0003_图层-1 {width:226px; height:304px; background-position: -2px -2px}
