/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:d88cfd33d03f650ae2173bd0f57ea017:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(man_gif.png);}

.男人1_0000_图层-5 {width:226px; height:304px; background-position: -904px -0px}
.男人1_0001_图层-4 {width:226px; height:304px; background-position: -678px -0px}
.男人1_0002_图层-3 {width:226px; height:304px; background-position: -452px -0px}
.男人1_0003_图层-2 {width:226px; height:304px; background-position: -226px -0px}
.男人1_0004_图层-1 {width:226px; height:304px; background-position: -0px -0px}
